<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.objectiveCUnitTestBundle</string>
		<string>com.apple.dt.unit.iPhoneBase</string>
	</array>
	<key>Identifier</key>
	<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Targets</key>
	<array>
		<dict>
			<key>Dependencies</key>
			<array>
				<integer>0</integer>
			</array>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
				<string>Foundation</string>
			</array>
			<key>ProductDependencies</key>
			<array>
				<integer>0</integer>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>$(SDKROOT)/Developer/Library/Frameworks $(DEVELOPER_LIBRARY_DIR)/Frameworks</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PARENTPACKAGENAME___/___PARENTPACKAGENAME___-Prefix.pch</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
