UserData/*.xcuserstate
UserData/AppDataSyncRecords
UserData/IB Support/Simulator Devices/
UserData/IDEEditorInteractivityHistory
UserData/IDEFindNavigatorScopes.plist
UserData/IDENamedTabStateContexts.plist
UserData/IDESourceControlAuthors
UserData/KeyBindings/Default.idekeybindings
UserData/SearchScopes.xcsclist
UserData/ServerBots.plist
UserData/TestReport.xcstate
UserData/XcodeServer/Logs/

Backup/
*.bak
