UserData/AppDataSyncRecords
UserData/IDESourceControlAuthors
UserData/KeyBindings/Default.idekeybindings
UserData/*.xcuserstate
UserData/IDENamedTabStateContexts.plist
UserData/SearchScopes.xcsclist
ServerBots.plist
