<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyViewController</string>
	<key>Description</key>
	<string>UIViewController子类</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class</string>
			<key>NotPersisted</key>
			<false/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>FallbackHeader</key>
			<string>#import "RFRuntime.h"</string>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>Required</key>
			<true/>
			<key>Suffixes</key>
			<dict>
				<key>MBFormViewController</key>
				<string>ViewController</string>
				<key>RFFetchedResultsTableViewController</key>
				<string>ListViewController</string>
				<key>UITableViewController</key>
				<string>ListViewController</string>
				<key>UIViewController</key>
				<string>ViewController</string>
			</dict>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
				<string>UITableViewController</string>
				<string>MBFormViewController</string>
				<string>RFFetchedResultsTableViewController</string>
			</array>
		</dict>
		<dict>
			<key>Default</key>
			<string>false</string>
			<key>Identifier</key>
			<string>WithSingleton</string>
			<key>Name</key>
			<string>Creat with singleton.</string>
			<key>RequiredOptions</key>
			<dict>
				<key>cocoaTouchSubclass</key>
				<array>
					<string>UIViewController</string>
				</array>
			</dict>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>20</string>
</dict>
</plist>
