<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>自定义视图，禁用 Size Class，活动大小</string>
	<key>Icon</key>
	<string>TemplateIcon</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.xib</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Summary</key>
	<string>An Interface Builder document for creating a Cocoa view</string>
	<key>Title</key>
	<string>Nib View Template</string>
</dict>
</plist>
