<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___FirstViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___FirstViewController ()

@end
</string>
		<key>___VARIABLE_classPrefix:identifier___SecondViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___SecondViewController ()

@end
</string>
		<key>first.png</key>
		<dict>
			<key>Path</key>
			<string>first.png</string>
		</dict>
		<key>first@2x.png</key>
		<dict>
			<key>Path</key>
			<string>first@2x.png</string>
		</dict>
		<key>second.png</key>
		<dict>
			<key>Path</key>
			<string>second.png</string>
		</dict>
		<key>second@2x.png</key>
		<dict>
			<key>Path</key>
			<string>second@2x.png</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a tab bar. It provides a user interface configured with a tab bar controller, and view controllers for the tab bar items.</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.tabbedApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:import:___VARIABLE_classPrefix:identifier___FirstViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:initSection</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:viewDidUnload</string>
		<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:shouldAutorotateToInterfaceOrientation:return</string>
		<string>first.png</string>
		<string>first@2x.png</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:import:___VARIABLE_classPrefix:identifier___SecondViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:initSection</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:viewDidUnload</string>
		<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:shouldAutorotateToInterfaceOrientation:return</string>
		<string>second.png</string>
		<string>second@2x.png</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>useStoryboard</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.h:ivars</key>
							<dict>
								<key>Beginning</key>
								<string>@interface ___VARIABLE_classPrefix:identifier___AppDelegate : UIResponder &lt;UIApplicationDelegate, UITabBarControllerDelegate&gt;
</string>
								<key>Indent</key>
								<integer>1</integer>
							</dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:tabBarController</key>
							<string>@property (strong, nonatomic) UITabBarController *tabBarController;
</string>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
							<string>UIViewController *viewController1 = ___RP___[[___VARIABLE_classPrefix:identifier___FirstViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___FirstViewController" bundle:nil]___AR___;
UIViewController *viewController2 = ___RP___[[___VARIABLE_classPrefix:identifier___SecondViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___SecondViewController" bundle:nil]___AR___;
self.tabBarController = ___RP___[[UITabBarController alloc] init]___AR___;
self.tabBarController.viewControllers = [NSArray arrayWithObjects:viewController1, viewController2, nil];
self.window.rootViewController = self.tabBarController;</string>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:tabBarMethods</key>
							<string>/*
// Optional UITabBarControllerDelegate method.
- (void)tabBarController:(UITabBarController *)tabBarController didSelectViewController:(UIViewController *)viewController
{
}
*/

/*
// Optional UITabBarControllerDelegate method.
- (void)tabBarController:(UITabBarController *)tabBarController didEndCustomizingViewControllers:(NSArray *)viewControllers changed:(BOOL)changed
{
}
*/
</string>
							<key>___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:initSection:initViewController:setup</key>
							<string>self.title = NSLocalizedString(@"First", @"First");
self.tabBarItem.image = [UIImage imageNamed:@"first"];</string>
							<key>___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:initSection:initViewController:setup</key>
							<string>self.title = NSLocalizedString(@"Second", @"Second");
self.tabBarItem.image = [UIImage imageNamed:@"second"];</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:tabBarController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___FirstViewController.h</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___SecondViewController.h</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:synthesize:tabBarController = _tabBarController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:dealloc:_tabBarController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:tabBarMethods</string>
							<string>___VARIABLE_classPrefix:identifier___FirstViewController.m:implementation:initSection:initViewController:setup</string>
							<string>___VARIABLE_classPrefix:identifier___SecondViewController.m:implementation:initSection:initViewController:setup</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard_iPad.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
							</dict>
							<key>en.lproj/MainStoryboard_iPhone.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPhone.storyboard</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
							<string>UIViewController *viewController1, *viewController2;
if ([[UIDevice currentDevice] userInterfaceIdiom] == UIUserInterfaceIdiomPhone) {
    viewController1 = ___RP___[[___VARIABLE_classPrefix:identifier___FirstViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___FirstViewController_iPhone" bundle:nil]___AR___;
    viewController2 = ___RP___[[___VARIABLE_classPrefix:identifier___SecondViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___SecondViewController_iPhone" bundle:nil]___AR___;
} else {
    viewController1 = ___RP___[[___VARIABLE_classPrefix:identifier___FirstViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___FirstViewController_iPad" bundle:nil]___AR___;
    viewController2 = ___RP___[[___VARIABLE_classPrefix:identifier___SecondViewController alloc] initWithNibName:@"___VARIABLE_classPrefix:identifier___SecondViewController_iPad" bundle:nil]___AR___;
}
self.tabBarController = ___RP___[[UITabBarController alloc] init]___AR___;
self.tabBarController.viewControllers = [NSArray arrayWithObjects:viewController1, viewController2, nil];
self.window.rootViewController = self.tabBarController;</string>
							<key>en.lproj/MainStoryboard_iPad.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController_iPad.xib</key>
							<dict>
								<key>Path</key>
								<string>FirstViewControlleriPad.xib</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController_iPhone.xib</key>
							<dict>
								<key>Path</key>
								<string>FirstViewControlleriPhone.xib</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController_iPad.xib</key>
							<dict>
								<key>Path</key>
								<string>SecondViewControlleriPad.xib</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController_iPhone.xib</key>
							<dict>
								<key>Path</key>
								<string>SecondViewControlleriPhone.xib</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController_iPhone.xib</string>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController_iPad.xib</string>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController_iPhone.xib</string>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController_iPad.xib</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>useStoryboard</key>
							<string>false</string>
						</dict>
					</dict>
				</array>
				<key>iPad</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>FirstViewControlleriPad.xib</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>SecondViewControlleriPad.xib</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController.xib</string>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController.xib</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>useStoryboard</key>
							<string>false</string>
						</dict>
					</dict>
				</array>
				<key>iPhone</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPhone.storyboard</string>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>FirstViewControlleriPhone.xib</string>
							</dict>
							<key>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController.xib</key>
							<dict>
								<key>Path</key>
								<string>SecondViewControlleriPhone.xib</string>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___FirstViewController.xib</string>
							<string>en.lproj/___VARIABLE_classPrefix:identifier___SecondViewController.xib</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>useStoryboard</key>
							<string>false</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
