<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyView</string>
	<key>Description</key>
	<string>UIView子类</string>
	<key>SortOrder</key>
	<string>19</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIView</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>FallbackHeader</key>
			<string>#import &quot;RFRuntime.h&quot;</string>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>UIView</string>
				<string>UITableView</string>
				<string>UITableViewCell</string>
			</array>
			<key>Suffixes</key>
			<dict>
				<key>UIView</key>
				<string>View</string>
				<key>UITableView</key>
				<string>TableView</string>
				<key>UITableViewCell</key>
				<string>Cell</string>
			</dict>
		</dict>
		<dict>
			<key>Summary</key>
			<string>是否使用简化的模版</string>
			<key>Default</key>
			<string>true</string>
			<key>Identifier</key>
			<string>Simpled</string>
			<key>Name</key>
			<string>Simplify Mode</string>
			<key>RequiredOptions</key>
			<dict>
				<key>cocoaTouchSubclass</key>
				<array>
					<string>UIView</string>
					<string>UITableViewCell</string>
				</array>
			</dict>
			<key>Type</key>
			<string>checkbox</string>
			<key>Values</key>
			<array>
				<string>Simpled</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
